<h1>Reset Password</h1>

<p>
Dear {{ user.username }},
</p>

<p>
You have requested a password reset link from [Microblog].
</p>

<p>
If you have not requested this password reset,
please ignore this e-mail.
</p>

<p>
If you have requested this password reset, 
please click on the link below:
</p>
<p>
<a href="{{ url_for('reset_password', token=token, _external=True )}}">>{{ url_for('reset_password', token=token, _external=True )}}>></a>
</p>

<p>
Your loving [Microblog] team &lt;3 &lt;3 &lt;3
</p>